.slide-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.fade {
  animation: fade 10s ease-in-out infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  video {
    height: 100vh;
  }
}
